.create-container {
    display:flex;
    flex-flow:column;
    height: 30em;
    width: 24em;
    background-color:rgb(248, 248, 249);
    margin-left:auto;
    margin-right: auto;
    margin-top:4em;
    border-radius: 1ch;
    border: 1px solid rgb(188, 188, 194)
    

}
.continue-button {
    display:flex;
   width:22.5em;
   height:2.3em;
   background:#f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
    margin-left:.9em;
    margin-top:1.6em;
    justify-content:center;
    padding:6px;
    cursor:pointer;
    

  

}
.signin-title {
    display:flex;
    margin-top:-3em;
    height:20em;
    
    flex-flow: nowrap;
    
}
.signup-logo {
    display:flex;
    flex-direction: column;
    padding:3px;
    margin-top:-1em;
    margin-right:auto;
    font-size:medium;
    margin-left: .5em;
}
.signin-option {
    margin-left:7em;
    margin-right:auto;
    
    
}
.spacer {
    margin:1em;
}
.sign-options {
    display:flex;
    height:2em;
    width:22em;
    margin-left:1em;
    border-radius: .5ch;
    border: 1px solid rgb(209, 209, 211)
   
}
.signin-logo {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    height:3em;
    margin-top:1em;
    margin-bottom:-3em;

      
}
.logup-redirect {
    display:flex;
    justify-content:center;
    width:20%;
   height:3.5em;
   background:#f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
    width:90%;
    margin-bottom:8em;
    justify-content:center;
    padding:6px;
    cursor:pointer;
    margin-top:3em;
    font-weight:800;
    border-radius: 1ch;
    margin-right:10em;
    margin-left:-12em;
    
    
}
.redirect-container {
    display:flex;
    width:100%;
    justify-content:center;
    margin-left:5.5em;

}