
 
* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}





.Demo {
 
    height:2em;
    width:13em;
    background:#f0c14b;
    border: 1px solid;
    padding:4px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
    cursor:pointer;
 
}
/* .demo-container {
    display:flex;
    flex-flow:column;
    flex:1;
    padding:4px;
    background:rgb(96, 21, 3);
    height:2em;
  /* align-items:center; */
  /* justify-items:right;

 
    margin-bottom: -.1em; */


.Profile {
    display:flex;
    
    z-index: 1;
}
