.home {
    display:flex;
    max-width:1500px;

    justify-content:center;
    margin:auto;
   
}

.home-banner {
    z-index: -1;
    margin-bottom: -250px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    width:100%;
}
.home-line {
    display:flex;
    z-index:1;
    top:0;
    margin-left:5px;
    margin-right: 5px;
}
.Demo {
    /* display:flex; */
    /* align-items:center; */
    /* margin-left:auto; */
    /* margin-right:auto; */
    flex-direction: row-reverse;
    background-color:rgb(255, 191, 52)
}
.demo-container {
    display:flex;
    flex-flow:column;
    flex:1;
    background:rgb(0, 0, 0);
    height:2em;
    align-items:center;
}