
 
* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.home {
    display:flex;
    max-width:100%;


    justify-content:center;

}

.home-movie {
    z-index: -1;
    margin-bottom: -100px;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    width:100%;
}
.home-line {
    display:flex;
    z-index:1;
    top:0;
    margin-left:10em;
    margin-right: 10em;
    margin-bottom: 1em;
}
.Demo {
 
    height:2em;
    width:15em;
    background:#f0c14b;
    border: 1px solid;
    padding:5px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
    cursor:pointer;
}
.demo-container {
    display:flex;
    flex-flow:column;
    flex:1;
    padding:4px;
    background:rgb(96, 21, 3);
    height:2em;
    align-items:center;
    margin-bottom: -.1em;
}
.home-logo {
    display:flex;
    height: 5em;
   margin-right:auto;
   margin-left:auto;
   margin-top: -5em;
   margin-bottom: 5em;
   /* position:sticky; */

}
