.nav {
    height:65px;
    display:flex;
    align-items: center;
    background-color:black;
    position:sticky;
    border-bottom: 1px solid rgb(177, 150, 29);
     /* max-width:1600px; */
    min-width:600px; 
}
.nav-logo {
    width:4em;
    object-fit:contain;
    margin: 0 10px;
    margin-top:12px;
    margin-bottom:4px

}
#search-icon {
    border:1px solid;
    padding:9px;
    
    
    background:#f0c14b;
    border: 1px solid;

    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
    cursor:pointer;
}
/* .nav-search {
    display:flex;
    flex:1;
  
    align-items:center;
    border-radius: 24px;
} */
/* .nav-search-input {
    display:flex;
    height: 10px;
    padding: 10px;
    border:none;
    width:100%;
    background-color:white
} */
.nav-option {
    display:flex;
    flex-direction: column;
    margin-right:10px;
    margin-left:10px;
    color:white
}
.nav-nav {
    display:flex;
    justify-content:space-between;


}
.nav-option2 {
    display:flex;
    flex-flow: nowrap;
    font-size:12px;
    width:2em;
    font-weight:800;
    margin-bottom:.3em;
    cursor:pointer;
    background:#f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}
.nav-option1 {
    font-size:12px;
    width:5.4em;
    font-weight:800;
    margin-bottom:.3em;
    cursor:pointer;
    background:#f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;

}

.basket-count {
    /* margin-top:-10em; */

    margin-left:1.5em;
    font-size:large;
    border:none;

    /* margin-bottom:3em; */
}
/* #cart-button {
    font-size:32px;
    margin-right:1em;
    cursor:pointer;
   
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
} */
.welcome  {
    margin-bottom:-20px;
    color:aqua
}