.nav {
    height:60px;
    display:flex;
    align-items: center;
    background-color:black;
    position:sticky;

}
.nav-logo {
    width:4em;
    object-fit:contain;
    margin: 0 10px;
    margin-top:12px;
    margin-bottom:4px

}
#search-icon {
    padding:5px;
    height:22px;
    background-color:#cd9042
}
.nav-search {
    display:flex;
    flex:1;
    align-items:center;
    border-radius: 24px;
}
.nav-search-input {
    height: 10px;
    padding: 10px;
    border:none;
    width:100%;
}
.nav-option {
    display:flex;
    flex-direction: column;
    margin-right:10px;
    margin-left:10px;
    color:white
}
.nav-nav {
    display:flex;
    justify-content:space-evenly;


}
.nav-option1 {
    font-size:18px;
    margin-bottom:.2em;
}
.nav-option2 {
    font-size:13px;
    font-weight:800;
    margin-bottom:.6em;
    cursor:pointer;
}
.nav-option-basket {
    display:flex;
    align-items:center;
    color:white;
    font-size:X-large;
    cursor:pointer;
}
.basket-count {
    margin-left:10px;
    margin-right:24px;
    font-size:large;
}