#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(24, 23, 23, 0.589)
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

}

#modal-content {
  position: relative;
  font-size:Large;
  background-color:rgb(243, 243, 243);
 z-index: 1;
  height:fit-content;
  width:20em;
  border-radius: 2ch;
  padding:5px;
  border: 3px solid rgb(201, 173, 89)
}