


.Item {
    display:flex;
    flex-direction: column;
    z-index:1;
    align-Items:center;
    justify-content:flex-end;
    margin-left:20px;
    padding: 10px;
width:100%;

    max-height:400px;
    min-width:100px;
    background-color:rgb(255, 255, 255);
    
    
    
}
.Item > img {
    max-height:150px;
    width:100%;
    object-fit:contain;
    margin-bottom:15px;
}
.Item-info {
    height:120px;
    margin-bottom:15px;
    width:100%
}
.Item-price {
    margin-top:5px;
}
.Item-button {
    background:#f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
    border-radius: 2ch;
}
.Item-rating {
    display:flex;
}