.checkout-ad {
    
    display:flex;
    width:100%;
    margin-bottom:0em;
    justify-content:center;
}
.checkout {
    display:flex;
    justify-content:center;
    width:100%;
    
    padding:20px;
    background-color:white;
    height:max-content;
    
}
.image-checkout {
    display:flex; 
    margin-right:40em;
    
}
.checkout-button {
    margin-right:45em;
    border-radius: 1ch;
}
.checkout-button-container {
    display:flex;
    width:100%;
}
.checkout-left {
    background-color:white;

}
.mx-auto {
    background-color:white;
}
.flex  {
    background-color:lightgray;
}
.checkout-items {
    background-color:gray;
}
.checkout-right {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding:5px;
    font-size:60px;
    font-weight: bold;
}
#Item-button {
    display:flex;
    border-radius: 1ch;
    justify-content:center;
    width:10em;
    height:1.5em;
    margin-left:30em;
    font-size:24px;
    margin-top:10em;
    cursor:pointer;
    background:#f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}
.checkout-buttons {
    display:flex;
    border-radius: 1ch;
    justify-content:center;
    width:10em;
    height:1.5em;
    margin-left:30em;
    font-size:24px;
    margin-top:10em;
    cursor:pointer;
    background:#f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}
.cart-title {
    
    font-size:48px;
}
